<!DOCTYPE html>
<!--  запустити вручну - написати app.run.js і забрати ng-app="app"-->
<!-- <html ng-app="app"> -->
<html ng-controller="Todo as $ctrl">
<head>
	<meta charset="utf-8">
	<!-- ::$ctrl.todo коли не треба щоб дані оновлювалися -->
	<title>{{$ctrl.todo.user}}'s TO DO List</title>
	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<!--  додано -->
	<link href="css/ng-cloak.css" rel="stylesheet">
</head>
<!-- додано ng-cloak-->
<body ng-cloak>
	<div class="container">
		<div class="page-header">
			<h1><img class="photo" ng-src={{$ctrl.todo.userPhoto}}>
				{{$ctrl.todo.user}}'s To Do List
				<span class="label label-default" 
					ng-hide="$ctrl.incompleteCount($ctrl.todo.items) === 0"
					ng-class="$ctrl.warningLevel($ctrl.todo.items)">
					{{$ctrl.incompleteCount($ctrl.todo.items)}}
				</span>
			</h1>
		</div>
		<div class="panel">
			<form novalidate name="newTask">
				<div class="form-group">
					<label for="action">Action:</label>
					<div class="input-group">
						<input 
						id="action" 
						name="action" 
						class="form-control"
						ng-model="$ctrl.newItem.action" />
						<span class="input-group-btn">
							<button class="btn btn-primary"
							ng-click="$ctrl.addNewItem($ctrl.todo.items, $ctrl.newItem)"
							ng-disabled="!$ctrl.newItem.action">Add</button>
						</span>
					</div>
				</div>
			</form>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> To Do List
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Description</th>
							<th>Chackbox</th>
							<th>Done</th>
							<th class="text-right">Commands</th>
						</tr>
					</thead>
					<tbody>
							<!-- | filter: {done: true} відображає виконані завдання orderBy: 'action': true" зворотній порядок фбо '-action' або по яким полям ['action']-->
						<!-- <tr ng-repeat="item in $ctrl.todo.items | filter: {done: false} | orderBy: 'action': true"> -->
						<tr ng-repeat="item in $ctrl.todo.items | checkedItems: $ctrl.showComplete | orderBy: 'action': true">
									<td>{{item.action}}</td>
									<td><input type="checkbox" ng-model="item.done"></td>
									<td>{{item.done ? 'Yes' : 'No'}}</td>
									<td class="text-right">
										<button 
											type="button" 
											class="btn btn-primary">
											<span class="glyphicon glyphicon-edit" aria-hidden="true"
											title="Edit"></span>
										</button>
										<button 
											type="button" 
											class="btn btn-danger">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"
											title="Delete"></span>
										</button>
									</td>
							</tr>
					</tbody>
				</table>

				<vi-task-list></vi-task-list>

				<label>
					<input type="checkbox" ng-model="$ctrl.showComplete" />Show Complete
				</label>
			</div>
		</div>
	</div>

	<p ng-bind="$ctrl.myName"></p>
	<p ng-bind-template="{{$ctrl.myName}} - {{$ctrl.myName}}"></p>
	<!--  додати 'ngSanitize' в app.module.js і в script -->
	<p ng-bind-html="$ctrl.myHTML"></p>
	<p ng-non-bindable="$ctrl.myHTML">{{2+5}}</p>

	<script src="vendor/angular/angular.min.js"></script>
	<script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="app.madule.js"></script>
	<script src="app.run.js"></script>
	<script src="services/model.module.js"></script>
	<script src="services/todo.service.js"></script>
	<script src="controllers/todo.controller.js"></script>
	<script src="filters/checkedItems.filter.js"></script>
	<script src="directives/task-list/task-list.directive.js"></script>
</body>
</html>
